In [1]:
import pandas as pd
import psycopg2 as pg

In [11]:
con = pg.connect(host='localhost',
                 dbname='firstConnect',
                 user='postgres',
                 password='357159')

In [12]:
nome = 'João aSDASD'
cpf='12345678'
sexo='M'
nascimento='05-15-1995'
salario=3400.00

In [13]:
cursor = con.cursor()

In [14]:
cursor.execute('insert into pessoa (nome, cpf, sexo, nascimento, salario) values (%s,%s,%s,%s,%s)',
               (nome, cpf,sexo, nascimento, salario))

In [10]:
con.commit()

In [15]:
cursor.execute('select * from pessoa;')
cursor.fetchall()

[('Fernanda Maria',
  '00800200347',
  'F',
  datetime.date(1994, 10, 31),
  Decimal('20000.00')),
 ('Fernanda da Silva',
  '05500200347',
  'F',
  datetime.date(2000, 10, 20),
  Decimal('1500.00')),
 ('João Marcos',
  '08500200347',
  'M',
  datetime.date(1995, 5, 15),
  Decimal('3400.00')),
 ('João aSDASD',
  '12345678',
  'M',
  datetime.date(1995, 5, 15),
  Decimal('3400.00'))]

In [27]:
try:
    cursor.execute('insert into pessoa (nome, cpf, sexo, nascimento, salario) values (%s,%s,%s,%s,%s)',
               (nome, cpf,sexo, nascimento, salario))
    con.commit()
    print('Sucesso')
except:
    cursor.execute('ROLLBACK')
    print('Fail')

Fail

In [10]:
cursor.close()
con.close()

In [28]:
import sqlalchemy
from sqlalchemy import create_engine

In [29]:
con2 = 'postgresql://postgres:357159@localhost/firstConnect'
sqlalchemy.create_engine(con2)

Engine(postgresql://postgres:***@localhost/firstConnect)

In [30]:
query = "select * from pessoa"
df = pd.read_sql_query(query, con2)

In [31]:
df

                nome          cpf sexo  nascimento  salario
0     Fernanda Maria  00800200347    F  1994-10-31  20000.0
1  Fernanda da Silva  05500200347    F  2000-10-20   1500.0
2        João Marcos  08500200347    M  1995-05-15   3400.0